VITE_AZURE_CLIENT_ID=d788e613-d97d-4ea3-a9d9-61589d1a6c72
VITE_AZURE_TENANT_ID=54b79561-1edb-49d8-9906-2cd26284e9b6
VITE_API_SCOPE=api://d788e613-d97d-4ea3-a9d9-61589d1a6c72/access_ad_user
VITE_INVENTARIO_URL=http://localhost:8082/api/inventario
VITE_COMPRA_URL=http://localhost:8081/api/compras
VITE_USUARIO_URL=http://localhost:8083/api/usuarios
